* {
    font-family: Roboto, sans-serif;
    border: 1px solid red;
}

body {
    display: flex;
    flex-direction: column;
}

img {
    width: 200px;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.header-links ul {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    list-style-type: none;
    padding: 0 8px;
}

.hero{
    background-color: #1F2937;

}

.footer{
    background-color: #1F2937;

}